// VARIABLES COLORS
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$light-grey: #f6f6f6;
$green: #008766;
$background-gradient: linear-gradient(
  0deg,
  rgba(147, 86, 220, 1) 0%,
  rgba(255, 121, 218, 1) 100%
);
