@use "_mixins.scss" as mixins;
@use "colors.scss" as colors;

// MOBILE DISPLAY FOOTER
.footer {
    @include mixins.display-column;
    gap: 20px;
    background-color: darken($color: colors.$light-grey, $amount: 80);
    padding: 25px;
    color: white;
    &__logo {
      font-family: "Shrikhand", cursive;
      padding-bottom: 16px;
      font-size: large;
    }
    .footer__container {
      display: flex;
      gap: 10px;
    }
    .ustensil {
      gap: 15px;
    }
  }
  // DESKTOP DISPLAY FOOTER
  @media (min-width: 1440px) {
    .footer {
      flex-direction: row;
      justify-content: flex-end;
      padding: 50px 50px 30px 50px;
      align-items: center;
      &__container.space {
        margin-right: 30px;
      }
  
      &__logo {
        order: 1;
        padding: 0;
        padding-left: 60px;
      }
    }
  }