@use "_mixins.scss" as mixins;
@use "colors.scss" as colors;
 // MOBILE DISPLAY HEADER
  .header {
  &__logo {
    @include mixins.header-shadow;
    font-family: "Shrikhand", cursive;
    text-align: center;
    padding: 13px 0;
    position: relative;
    z-index: 1;
  }
}
// DESKTOP DISPLAY HEADER
@media (min-width: 1440px) {
  .header {
    &__logo {
      padding: 0;
      margin: 30px 0;
      box-shadow: none;
    }
  }
}
