// MOBILE DISPLAY BANNER_LOCATION
@use "../utils/mixins" as mixins;
@use "../utils/colors" as colors;
@use "../component/btn-gradient" as btn-gradient;
@use "../component/heart";
@use "../component/heart-gradient";

.bannerLocation {
  @include mixins.display-center;
  @include mixins.header-shadow;
  align-items: center;
  gap: 17px;
  padding: 15px;
  background-color: darken($color: colors.$light-grey, $amount: 5);
  position: relative;
  &__txt {
    font-weight: 500;
  }
}

// RESERVATION
.reservation {
  @include mixins.display-column;
  gap: 30px;
  text-align: center;
  padding: 30px 50px;
  background-color: colors.$light-grey;
  .reservation__txt {
    color: darken($color: colors.$light-grey, $amount: 80);
    font-weight: 300;
    font-size: 18px;
  }
}

// FUNCTIONNING
.functionning {
  @include mixins.display-column;
  gap: 30px;
  padding: 20px;
  margin: 50px 0;
  &__display {
    @include mixins.display-column;
    gap: 20px;
  }
  .functionning__btn {
    @include mixins.generic-btn;
    @include mixins.display-center;
    border-radius: 20px;
    padding: 30px;
    margin: 0;
    gap: 20px;
    font-size: 16px;
    position: relative;
 
    &--numbers {
      position: absolute;
      left: -10px;
      padding: 5px 10px;
      border-radius: 50%;
      color: white;
      background-color: colors.$primary-color;
    }
  }
  .fa-solid {
    color: darken($color: colors.$light-grey, $amount: 50);
    font-size: larger;
  }
  .fa-solid:hover {
    color: colors.$primary-color;
  }
}

// RESTAURANT
.restaurant {
  @include mixins.display-column;
  background-color: colors.$light-grey;
  gap: 20px;
  padding: 20px;
  padding-bottom: 100px;
  &__display {
    @include mixins.display-column;
    gap: 20px;
  }
  .restaurant__card {
    position: relative;
    &--img {
      width: 100%;
      height: 200px;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
    }
    &--newTxt {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: colors.$tertiary-color;
      color: colors.$green;
      padding: 5px 10px;
      border-radius: 2px;
    }
    &--txt {
      font-weight: 300;
      margin-top: -4px;
      @include mixins.display-column;
      gap: 5px;
      position: relative;
      background-color: colors.$white;
      padding: 10px 15px;
      border-radius: 0 0 20px 20px;
    }
  }
  .fa-solid.fa-heart {
    position: absolute;
    top: 20px;
    right: 30px;
  }
  
  .fa-regular.fa-heart {
    top: 20px;
    right: 30px;
  }
}

