@use "SASS/base/_fonts.scss";
@use "SASS/base/_wild-card.scss";
@use "SASS/layout/header-restaurant";
@use "SASS/layout/body-restaurant";
@use "SASS/layout/_footer.scss";
@use "SASS/utils/tablette-restaurant";
@use "SASS/utils/desktop-restaurant";
@use "SASS/utils/loader";
