@use "../utils/mixins" as mixins;
@use "../utils/colors" as colors;
@use "../utils/animations";

.card {
    @include mixins.display-row;
    @include mixins.generic-btn;
    border-radius: 15px;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    background: colors.$white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    animation: menu-appear 3s 10s;
    animation-fill-mode: both;
    &:hover .card__check {
      margin-right: 0px;
    }
    &__description {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &--title {
        font-size: 18px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &--txt {
        font-size: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    &__price {
      margin-left: auto;
      margin-right: 10px;
      padding: 15px 0;
      align-content: flex-end;
    }
    &__check {
      display: flex;
      justify-content: center;
      background: colors.$tertiary-color;
      width: 52px;
      margin-right: -52px;
      transition: 400ms;
      .fa-solid.fa-check {
        align-content: center;
        color: colors.$tertiary-color;
        padding: 0px 7px;
        margin: 23px 14px;
        border-radius: 50%;
        background: white;
      }
    }
  }

