@use "../utils/mixins" as mixins;
@use "../utils/colors" as colors;

@media (min-width: 1024px) {
  .menu {
    width: 80%;
    padding: 30px 13%;
    margin: 0 auto;
    margin-bottom: -49px;
    .card {
        width: 100%;
    }
    &__area--display{
        flex-direction: column;
    }
  }
  .footer {
    flex-direction: row;
    justify-content: flex-end;
    padding: 50px 50px 30px 50px;
    align-items: center;
    &__container.space {
      margin-right: 30px;
    }

    &__logo {
      order: 1;
      padding: 0;
      padding-left: 60px;
    }
  }
}
