@use "colors.scss" as colors;

//  MIXINS
@mixin generic-btn {
  border-radius: 25px;
  border: none;
  padding: 15px 20px;
  margin: auto;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

@mixin display-column {
  display: flex;
  flex-direction: column;
}

@mixin display-row {
  display: flex;
  flex-wrap: wrap;
}

@mixin display-center {
  display: flex;
  justify-content: center;
}

@mixin header-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@mixin header-logo {
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 13px 0;
}

@mixin menu-head {
  display: flex;
  margin: auto;
  gap: 30px;
  align-items: center;
}

@mixin elispe-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}